.row
  .offset1.span10
    .hero-unit
      h1 Instagram on your Blog
      p.first-tagline
        | Get a quick, simple snippet of HTML that you can use to add your Instagram photos
        | to your blog or web site in a safe, secure way.
      p 
        a.btn.btn-primary.btn-large(href="/step1") Get Started!

    p
      | There are other ways to get your Instagram photos on your site, but they are either
      | not very secure or they require some work to get it working. We've listed some of our
      | favorite alternatives on the <a href="/about">About</a> page.
      | 
        
