.row
  .span12
    h2
      | Admin Tools
      | 
    p.spaced
      ul
        li
          a(href="/admin/instagram/subscribe") Subscribe to Instagram Realtime
        li
          a(href="/admin/flickr/subscribe") Subscribe to Flickr PuSH
        li
          a(href="/admin/facebook/subscribe") Subscribe to Facebook PuSH
