- if (typeof limit == 'undefined')
  - limit = 5
  
div.row.proxigram-photo-list
if (app.settings.env == "development")
  endpoint = "http://proxigram.dev/api/photos";
else
  endpoint = "http://proxigram.com/api/photos";

script(type='text/javascript')
  jQuery(document).ready(function($){
    $('.proxigram-photo-list').proxigram({api_endpoint: "!{endpoint}", limit: !{limit}, access_token: "!{current_user["api_key"]}",
    complete: function(status_code, data){
      console.log(status_code + " " + data);
        if (status_code == "success" && data != null && data.data != undefined) {
          $(".refreshed-date").text("Last update: " + moment(data.data.updated_at).format('MM/DD/YYYY HH:mm:ss Z'));
        }
      }
    })
  });