.row
  .span12.header-box
    h2 Dashboard for !{current_user.displayName}
.row
  .span8
    .row
      .span8
        .block-wrapper
          .section-header API Key
          .section-content
            p.spaced
              strong Your API Key is: 
              code !{current_user.api_key}

    .row
      .span5
        .block-wrapper.api-docs
          .section-header
            | Using Proxigram
          .section-content
            p
              | Proxigram is a simple API service that gives you a simple
              | way to get your Instagram photos on your web site without
              | having to run code on the server or store your OAuth credentials
              | in the source of a web page. 
            P
              | This screen contains the documentation to get you started with the
              | API as well as our simple jQuery plugin.
      .span3
        .block-wrapper.api-docs
          .section-header
            | Documentation & Source
          .section-content
            p 
              strong API Methods
            ul
              li
                a(href="/docs/photos") /api/photos
            p 
              strong Integration Tools
            ul
              li
                a(href="/docs/jquery-plugin") jQuery plugin
            p 
              strong Source: 
              small
                | (This is all open source!)
            ul
              li
                a(href="https://github.com/sujal/proxigram") Proxigram on Github
              li
                a(href="https://github.com/sujal/jquery-proxigram") jquery.proxigram.js
  .span4
    .block-wrapper.toolbox
      .section-header
        | Tools
      .section-content
        .row
          .span4
            .row
              .span2.tool-label
                strong Instagram:
              .span2.tool-item
                - if (current_user.tokens.instagram.account_id !== null)
                  a(href="https://instagram.com/accounts/manage_access#client_proxigram") Disconnect
                - else
                  a(href="/connect/instagram") Connect Account
            .row
              .span2.tool-label
                strong Flickr:
              .span2.tool-item
                - if (current_user.tokens.flickr.account_id !== null)
                  a(href="http://www.flickr.com/services/auth/list.gne?from=extend") Disconnect
                - else
                  a(href="/connect/flickr") Connect Account
            - if (current_user.admin == true)
              .row
                .span2.tool-label
                  strong Facebook:
                .span2.tool-item
                  - if (current_user.tokens.facebook.account_id !== null)
                    a(href="https://www.facebook.com/settings?tab=applications") Disconnect
                  - else
                    a(href="/connect/facebook") Connect Account
            .row
              .span4.spacer
                &nbsp;
            .row
              .span2.tool-label
                strong &nbsp;
              .span2.tool-item
                a.btn.btn-mini.btn-primary(href="/users/refresh") Refresh All Feeds

.row
  .span12
    .block-wrapper.image-test
      .section-header
        | Recent Images 
      .section-content
        .centered
          span.refreshed-date
        !=partial('partials/image_test', {limit: 30})
  

script(type="text/javascript")
  jQuery(document).ready(function($){
    prettyPrint();
  });
