.row
  .span12.header-box
    h2 Dashboard for !{current_user.displayName}
.row
  .span8
    h3.spaced API Key
    p.spaced
      strong Your API Key is: 
      code !{current_user.api_key}
  .span4
    .block-wrapper.jquery-sample
      .section-header
        | jQuery Plugin
      .section-content
        .well

    
  