.row
  .span12.header-box
    h2 Dashboard for !{current_user.displayName}
.row
  .span8
    .row
      .span5
        .block-wrapper.api-docs
          .section-header
            | Using Proxigram
          .section-content
            p
              | Proxigram is a simple API service that gives you a simple
              | way to get your Instagram photos on your web site without
              | having to run code on the server or store your OAuth credentials
              | in the source of a web page. 
            P
              | This screen contains the documentation to get you started with the
              | API as well as our simple jQuery plugin.
      .span3
        .block-wrapper.api-docs
          .section-header
            | Documentation & Source
          .section-content
            p 
              strong API Methods
            ul
              li
                a(href="/docs/photos") /api/photos
            p 
              strong Source: 
              small
                | (This is all open source!)
            ul
              li
                a(href="https://github.com/sujal/proxigram") Proxigram on Github
              li
                a(href="https://github.com/sujal/jquery-proxigram") jquery.proxigram.js
            
    .row
      .span8
        .block-wrapper
          .section-header API Key
          .section-content
            p.spaced
              strong Your API Key is: 
              code !{current_user.api_key}
    .row
      .span8
        .block-wrapper.jquery-sample
          .section-header
            | jQuery Plugin
          .section-content
            p
              | There is a simple jQuery plugin available. There's documentation
              | in the code snippet below. Just take a look at the comments.
            p
              strong
                | The code below includes your personal API key. 
              | It should be ready to go if you want to copy &amp;
              | paste it into your site.
            p
              | If you have any questions, get in touch.
            pre
              code.prettyprint.linenums.lang-html
                | &lt;!-- include this somewhere on your page --&gt;
                | &lt;script src=&quot;http://s.proxigram.com/js/jquery.proxigram.js&quot;&gt;&lt;/script&gt;
                | 
                | &lt;!-- create an element where the photos will go --&gt;
                | &lt;div class=&quot;row proxigram-photo-list&quot;&gt;&lt;/div&gt;
                | 
                | &lt;!-- then call the jQuery plugin on document ready. The code below
                |      lists all the options, but only the access_token is required. 
                |      For each option, the value shown is the default --&gt;
                | &lt;script type=&quot;text/javascript&quot;&gt;
                |   jQuery(document).ready(function($){
                |     $('.proxigram-photo-list').proxigram({
                |     
                |       access_token: &quot;!{current_user.api_key}&quot; // required
                |     
                |       , api_endpoint: &quot;http://proxigram.com/api/photos&quot;
                |       
                |       , limit: 30                     // # of image to fetch &amp show
                |                                       // max of 30 for now
                |       
                |       , include_raw: "no"            // include raw json from 
                |                                       // Instagram for each image?
                |                                       
                |       , include_default_styles: true // if true, will add style tag 
                |                                       // with minimal styling of images
                |                                       
                |       , complete: null                // a callback that fires after
                |                                       // the API call returns. Args are:
                |                                       // function(status_code, json_data)
                |     })
                |   });
                | &lt;/script&gt;
        

  .span4
    .block-wrapper.toolbox
      .section-header
        | Tools
      .section-content
        .row
          .span4
            .row
              .span2.tool-label
                strong Instagram:
              .span2.tool-item
                - if (current_user.tokens.instagram.account_id !== null)
                  a(href="") Disconnect
                - else
                  a(href="") Connect Account
            .row
              .span2.tool-label
                strong Flickr:
              .span2.tool-item
                - if (current_user.tokens.flickr.account_id !== null)
                  a(href="") Disconnect
                - else
                  a(href="") Connect Account
              
            .row
              .span2.tool-label
                strong Facebook:
              .span2.tool-item
                - if (current_user.tokens.facebook.account_id !== null)
                  a(href="") Disconnect
                - else
                  a(href="") Connect Account
            .row
              .span4.spacer
                &nbsp;
            .row
              .span2.tool-label
                strong &nbsp;
              .span2.tool-item
                a.btn.btn-mini.btn-primary(href="/users/refresh") Refresh All Feeds
            
  
    .block-wrapper.image-test
      .section-header
        | Recent Images 
      .section-content
        .centered
          span.refreshed-date
        !=partial('partials/image_test', {limit: 10})
    

script(src='/js/prettify.js')
script(type="text/javascript")
  jQuery(document).ready(function($){
    prettyPrint();
  });
