.row
  .span12
    h2
      | API Documentation
      | 
    p.spaced
      | Current API methods are documented below. All methods require
      | an <code>access_token</code> unless otherwise noted below.
    p.spaced
      strong
        | &mdash; Get your latest photos: 
      a(href="/docs/photos") /api/photos
