@color: red;
a { color: @color; }

.page-header {
  small:before {
    content: " ";
  }
}

.header-link {
  text-align: right;
  padding-top: 13px;
}

.first-tagline {
  margin-top: 18px;
}

.spaced {
  margin-top: 18px;
}

.centered {
  text-align: center;
}

.page-header {
}

.maincontent {
  min-height: 300px;
}

.block-wrapper {
  .section-header {
    font-variant: small-caps;
    text-transform: lowercase;
    border-bottom: 1px solid #CCF;
    margin-bottom: 12px;
  }
}

.about-section {
  ul {
    list-style: none;
    margin-left: 0;
    li {
      list-style: none;
      display: block;
      margin-left: 0;
    }
  }
}

.footer {
  color: #999;
  border-top: 1px solid #EEE;
  margin-top: 36px;
  padding-top: 18px;
  .footer-link {
    text-align: right;
  }
}


/* ERROR stuff */

.error-body {
  margin-top: 36px;
}

/* STEP 1 Stuff */

.step1-content {
  margin-top: 72px;
}

/* PHOTO stuff */

