.row
  .span6
    p.
      <strong>Created with love in Connecticut.</strong>
    p.
      This started out as a simple project. I wanted to display the latest photos
      from my instagram feed on my blog using a simple JavaScript embed. I found 
      a nice solution in the <a href="http://potomak.github.com/jquery-instagram/">jquery-instagram
      library</a>. The problem was that it required OAuth credentials to be embedded into the
      JavaScript call on the page. That seemed risky.
    p.
      I also found 
      <a href="http://statigr.am">Statigram</a>
      which has a ton of features. Serious Instagram'ers should really take a look at it.
    p.
      I also considered some WordPress plugins. The first was the 
      <a href="http://wordpress.org/extend/plugins/instagram-for-wordpress/">Instagram for Wordpress</a>
      plugin. Another choice is <a href="http://wordpress.org/extend/plugins/instagrate-to-wordpress/">Instagrate for Wordpress</a>.
      Both look decent and may be what you want.
    p
      | For me, though, I wanted 3 things:
      ul
        li
          | A single JavaScript tag or JQuery plugin
        li
          | Secure handling of the OAuth tokens from Instagram
        li
          | Support for the real-time API from Instagram
    p.
      So, I decided to make this because I wanted something stripped down and
      that's a self-contained, simple solution. Plus, it was a fun <s>24</s> 48 hour hack.
  .span5.offset1
    .block-wrapper.about-section
      .section-header
        | About Sujal
      .section-content
        ul
          li
            a(href="http://www.fatmixx.com") Personal Blog
          li
            a(href="http://twitter.com/sujal") Twitter
          li
            a(href="http://variolabs.com") Work
          li
            a(href="http://about.me/sujal") About.me