.row
  .span6
    p.
      I'll add FAQ items as people ask them. Until then, enjoy a mostly empty page.
      
  .span5.offset1
    .block-wrapper.about-section
      .section-header
        | Questions
      .section-content
        ul
          li
            | Ask me some :-)
