.row
  .span6
    .block-wrapper.main-faq-section
      .section-header
        | FAQ
      .section-content
        p.
          I'll add FAQ items as people ask them. Until then, enjoy a mostly empty page.

        dl.faq-list
          dt.faq-question
            | &mdash; Step 1 didn't work. What do I do next?
          dd.faq-answer
            | So far, we haven't seen the connect to Instagram step fail. If it failed for you,
            | drop us a line at info -at- forchesoftware dot com and I'll track it down.

  .span5.offset1
    .block-wrapper.about-section
      .section-header
        | What is this?
      .section-content
        p
          | ChromaticLove is a simple service that pulls in your photos so you
          | can display them wherever you need.
        p
          | There's more information on the <a href="/about">About page</a>.
