.row
  .offset1.span10
    .hero-unit
      h1 One API, all your photos
      p.first-tagline
        | Make one API call to get all of your photos in one list whether they're
        | on Instagram, Flickr, Facebook or wherever. Build more complete galleries
        | with less code and fewer plugins.
      p 
        a.btn.btn-primary.btn-large(href="/step1") Get Started!

    p
      | This originally started as a way to get Instagram photos on your blog. It's now evolving
      | into a more general photo aggregator for all of your accounts. For now, Instagram is
      | required in order to log in, but soon you'll be able to use your Flickr or Facebook accounts
      | to log in directly.
    p
      | For our old Instagram-centric functionality, there were many alternatives. We've listed some of our
      | favorite alternatives on the <a href="/about">About</a> page.