h2
  | Something went wrong... =sad face=

.error-body
  .row
    .span10
      p
        | This is probably our fault, or something that we're still working on. If you consistently
        | see this problem, please contact us at support -at- forchesoftware.com.