.row
  .offset4.span4.step1-content
    h2
      | Step 2: Grab your code
    p.spaced
      | You're all set. If you want to use the simple jQuery plugin, copy and paste the following code:
    blockquote
      = "<script type=\"text/javascript\" src=\"\" ></script>"
