.row
  .offset4.span4.step1-content
    h2
      | Step 1: Log into Instagram
    p.spaced
      | We don't see or store your password here. You will log in at Instagr.am and then return here to go to step 2.
    p.spaced
      a.btn.btn-large.btn-primary(href="/auth/instagram") Log into Instagram
      