!!!
html
  head
    title= (typeof(title) == 'undefined' ? "" : title)
    //- link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src="/js/jquery.proxigram.js")
  body
    header.container
      .row
        .span12
          .page-header
            .row
              .span7
                h1
                  a(href="/") Proxigram
                  small= title 
              .span5.header-link
                - if (current_user != null)
                  a(href="/logout") Logout
                - else
                  a(href="/auth/instagram") Login
    section.container.messages-holder
      != messages()
    section.maincontent.container!= body
    footer.container.footer
      .row
        .span6
          | Copyright &copy; #{new Date().getFullYear()} 
          a(href="http://forchesoftware.com") Forche Software 
          | / 
          a(href="http://twitter.com/sujal") @sujal
        .span1.offset4.footer-link
          a(href="/faq") FAQ
        .span1.footer-link
          a(href="/about") About
          
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-77378-12']);
      _gaq.push(['_setDomainName', 'proxigram.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
